In [65]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt


raw_dataset=pd.read_excel("OTV_Data.xlsx")

dataset = raw_dataset.copy()

experiment = pd.DataFrame()

#the first dependent variable
experiment['EpiT_Avg_R']=dataset['EpiT_Avg_R']
experiment['EpiT_Avg_R'] = pd.to_numeric(experiment['EpiT_Avg_R'],errors='coerce')


#independent variable
experiment['cpt3_c_T'] = dataset['cpt3_c_T']
experiment['cpt3_c_T'] = pd.to_numeric(experiment['cpt3_c_T'],errors='coerce')

experiment['cpt3_dpr_T'] = dataset['cpt3_dpr_T']
experiment['cpt3_dpr_T'] = pd.to_numeric(experiment['cpt3_dpr_T'],errors='coerce')

experiment['cpt3_omi_T'] = dataset['cpt3_omi_T']
experiment['cpt3_omi_T'] = pd.to_numeric(experiment['cpt3_omi_T'],errors='coerce')

experiment = experiment.dropna()
experiment = experiment.drop(experiment[experiment['EpiT_Avg_R']>900].index)

experiment = experiment.drop(experiment[experiment['cpt3_c_T']>900].index)

experiment = experiment.drop(experiment[experiment['cpt3_dpr_T']>900].index)

experiment = experiment.drop(experiment[experiment['cpt3_omi_T']>900].index)

# sns.pairplot(experiment)

# plt.plot(experiment['cpt3_dpr_T'],experiment['EpiT_Avg_R'])
# plt.show()

# sns.pairplot(experiment[['EpiT_Avg_R', 'cpt3_c_T', 'cpt3_dpr_T','cpt3_omi_T', 'cpt3_com_T']],diag_kind="kde")

# training and testing dataset
# train_dataset = experiment.sample(frac=0.8, random_state=0)
# test_dataset = experiment.drop(train_dataset.index)

# train_stats = train_dataset.describe()
# train_stats.pop('EpiT_Avg_R')
# train_stats = train_stats.transpose()

# train_labels = train_dataset.pop('EpiT_Avg_R')
# test_labels = test_dataset.pop('EpiT_Avg_R')

# #normalize the data
# def norm(x):
#     return (x - train_stats['mean']) / train_stats['std']

# normed_train_data = norm(train_dataset)
# normed_test_data = norm(test_dataset)

target = experiment.EpiT_Avg_R
inputs = experiment.drop('EpiT_Avg_R',axis='columns')

from sklearn.model_selection import train_test_split

inputs=inputs.astype('int')
target=target.astype('int')
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)



from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [66]:
# type(inputs)
model.fit(X_train,y_train)

GaussianNB()

In [67]:
model.score(X_test,y_test)

0.4482758620689655

In [68]:
X_test[:10]

     cpt3_c_T  cpt3_dpr_T  cpt3_omi_T
85         39          69          53
101        53          66          61
93         53          48          47
94         70          59          66
99         45          50          45
130        48          67          61
136        60          67          70
133        80          72          90
11         50          39          45
115        56          59          56

In [69]:
y_test[:10]

85     2
101    3
93     2
94     3
99     2
130    3
136    1
133    1
11     2
115    2
Name: EpiT_Avg_R, dtype: int32